* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: #000000;
  position: relative;
  margin: 0 auto;
  max-width: 1024px;
}

.card_container {
  display: flex;
  justify-content: space-between;
}

:root {
  --black: #0a0908;
  --red: #ff6978;
  --white: #fffcf9;
  --grey: #747578;
  --blue: #71a9f7;
}

/* hero image */

.hero {
  height: 500px;
}

.hero__content {
  background-image: url("../img/picmovies.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* adding style to the searchbox */

.form-element {
  width: -webkit-fill-available;
  max-width: 60%;
}

#search-box {
  border: 1px solid var(--grey);
  border-radius: 5px;
  width: 100%;
  outline: 0;
  background-color: var(--white);
}

#search-box:hover,
#search-box:focus {
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
  background-color: var(--white);
}

#btn-search {
  background-color: var(--red);
}

/* Movies display section */

/* search div */

#movie-search {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background-color: #000000;
}

.saved-media {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background-color: #000000;
  min-height: 100vh;
  padding: 10px;
  margin-bottom: 3em;
}

.search-display {
  border-radius: 12px;
  box-shadow: 0 10px 10px -4px rgb(0 0 0 / 15%);
  background-color: transparent;
  color: #333;
  margin: 0.5em;
  line-height: 1.5em;
  /* position: relative; */
  /* flex: 1 1 30ch; */
}

.media-title {
  color: var(--red);
  text-align: center;
}
.buttons-div {
  display: flex;
  justify-content: space-evenly;
}
.moreInfo {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: #4caf50;
}

.container {
  padding: 20px;
}

.moreinfo-btn:hover {
  box-shadow: 0 0 40px 40px var(--red) inset;
}

.moreinfo-btn {
  padding: 5px;
  position: relative;
  left: 25px;
  margin-right: 10px;
  border-radius: 10rem;
  color: var(--white);
  background-color: var(--black);
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}

.addfav-btn:hover {
  box-shadow: 0 0 40px 40px var(--red) inset;
}

.addfav-btn {
  padding: 5px;
  /* position: relative;
  left: 25px; */
  border-radius: 10rem;
  color: var(--white);
  background-color: var(--black);
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}

.top__brand {
  margin-top: -10px;
  margin-bottom: -10px;
}

.logo {
  color: #fffcf9;
  font-size: 40px;
  font-family: "Raleway", sans-serif;
  font-size: bold;
}

a {
  color: #ff6978;
  /* Navbar */
}

.top__links {
  --background-color: transparent;
  --font-color: var (--red);
  --border-radius: 6px;
  --padding: 0;
  --link-padding: 0.3125rem 0.9375rem;
  --hover-background-color: #ff6978;
  --hover-font-color: inherit;
  --active-background-color: transparent;
  --active-font-color: inherit;
}

/* More info.html CSS starts here */

.bgimage {
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.movie-container {
  margin: 25px auto 25px auto;
  padding: 3em;
  background-color: #000000;
  display: flex;
  z-index: 1;
  opacity: 0.8;
  line-height: 2em;
}

#movie-img {
  background-color: black;
}

.description-card {
  /* padding: 20px; */
  z-index: 1;
  color: #fffcf9;
}

#movie-title {
  color: var(--red);
  font-size: 35px;
  z-index: 1;
}

#movie-synopsis {
  color: white;
  z-index: 1;
}

#add-btn:hover,
#add-btn:focus {
  color: #fff;
  outline: 0;
}

#add-btn {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: #4caf50;
  z-index: 1;
  position: relative;
  top: 190px;
  border-radius: 10rem;
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}

#add-btn:hover {
  box-shadow: 0 0 40px 40px var(--red) inset;
}

/* #genre {
  height: 10px;
  padding: 30px;
  background-color: #000000;
  color: white;
  margin-top: 1px;
  color: white;
  position: relative;
  bottom: 70px;
  right: 20px;
} */

/* #actors {
  position: relative;
  bottom: 50px;
} */

/* #box {
  position: relative;
  bottom: 30px;
} */

h2 {
  color: var(--grey);
  margin: 25px;
  display: contents;
}

#videos {
  width: 80%;
  margin: 0 auto;
  z-index: 1;
}

/* footer section */

a {
  color: #ff6978;
}

#footer {
  display: flex;
  justify-content: center;
  padding: 10px;
  color: #fffcf9;
  align-items: center;
  background-color: black;
  width: 100%;
  /* position: absolute;
  bottom: 0; */
  z-index: 1;
}

#footer p {
  margin-left: 30px;
  margin-top: 5px;
}

.fab {
  color: var(--red);
}
