* {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: #000000;
    position: relative;
}

.card_container {
    display: flex;
    justify-content: space-between;
}

 :root {
    --black: #0a0908;
    --red: #ff6978;
    --white: #fffcf9;
    --grey: #747578;
    --blue: #71a9f7;
}


/* hero image */

.hero {
    height: 500px;
}

.hero__content {
    background-image: url("../img/picmovies.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


/* adding style to the searchbox */

.form-element {
    width: -webkit-fill-available;
    max-width: 60%;
}

#search-box {
    border: 1px solid var(--grey);
    border-radius: 5px;
    width: 100%;
    outline: 0;
    background-color: var(--white);
}

.search-box {
    border: 1px solid var(--grey);
    border-radius: 5px;
    width: 30%;
    outline: 0;
    background-color: var(--white);
    margin-left: 20px;
}

#search-box:hover,
#search-box:focus {
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
    background-color: var(--white);
}

#btn-search {
    background-color: var(--red);
}


/* Movies display section */

#movie-search {
    background-color: #000000;
}

.moreInfo {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: #4caf50;
}

.container {
    padding: 20px;
}

.moreinfo-btn:hover {
    box-shadow: 0 0 40px 40px var(--red) inset;
}

.moreinfo-btn {
    padding: 5px;
    position: relative;
    left: 25px;
    margin-right: 10PX;
    border-radius: 10rem;
    color: var(--white);
    background-color: var(--black);
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}

.addfav-btn:hover {
    box-shadow: 0 0 40px 40px var(--red) inset;
}

.addfav-btn {
    padding: 5px;
    position: relative;
    left: 25px;
    border-radius: 10rem;
    color: var(--white);
    background-color: var(--black);
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}

.top__brand {
    margin-top: -10px;
    margin-bottom: -10px;
}

.logo {
    color: #fffcf9;
    font-size: 40px;
    font-family: "Raleway", sans-serif;
    font-size: bold;
}

a {
    color: #ff6978;
    /* Navbar */
}

.top__links {
    --background-color: transparent;
    --font-color: var (--red);
    --border-radius: 6px;
    --padding: 0;
    --link-padding: 0.3125rem 0.9375rem;
    --hover-background-color: #ff6978;
    --hover-font-color: inherit;
    --active-background-color: transparent;
    --active-font-color: inherit;
}


/* More info.html CSS starts here */


/* #background-pic {
    background-color: var(--grey);
  } */

.movie-container {
    width: 90%;
    margin: 25px auto 25px auto;
    background-color: #000000;
    opacity: 70%;
    display: flex;
}

#movie-img {
    background-color: black;
}

.description-card {
    padding: 20px;
    z-index: 2;
    color: #fffcf9;
}

#movie-title {
    color: var(--red);
    font-size: 35px;
    z-index: 1;
}

#movie-synopsis {
    color: white;
    z-index: 1;
}

#add-btn:hover,
#add-btn:focus {
    color: #fff;
    outline: 0;
}

#add-btn {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: #4caf50;
    z-index: 1;
    position: relative;
    top: 190px;
    border-radius: 10rem;
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}

#add-btn:hover {
    box-shadow: 0 0 40px 40px var(--red) inset;
}

#genre {
    height: 10px;
    padding: 30px;
    background-color: #000000;
    color: white;
    margin-top: 1px;
    color: white;
    position: relative;
    bottom: 70px;
    right: 20px;
}

#actors {
    position: relative;
    bottom: 50px;
}

#box {
    position: relative;
    bottom: 30px;
}

#movie-genre-1,
#movie-genre-2,
#movie-genre-3 {
    padding: 7px;
    margin: 10px;
    background-color: var(--blue);
    border-radius: 10px;
}

.actors-container {
    display: flex;
    height: 400px;
    width: 90%;
    margin: 25px auto 25px auto;
    justify-content: space-between;
    background-color: white;
}

h2 {
    color: var(--grey);
    margin: 25px;
    display: contents;
}

.actors-card {
    height: 400px;
    width: 200px;
    border: 1px solid black;
    display: flex;
    height: 500px;
    width: 90%;
    margin: 25px auto 25px auto;
    background-color: white;
    flex-direction: column;
    align-items: center;
}

.actors-wrapper {
    display: flex;
}

h2 {
    color: var(--grey);
    margin: 25px;
}

.actors-card {
    height: 375px;
    width: 200px;
    background-color: #9a9a9a;
    justify-content: space-between;
    margin: 0 25px 25px 25px;
}

#actors-img {
    width: 200px;
    height: 300px;
    background-color: #ff6978;
}

#videos {
    width: 80%;
    margin: 0 auto;
}

#actors-name {
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
}

#character-name {
    display: flex;
    justify-content: center;
}


/* footer section */

a {
    color: #ff6978;
}

#footer {
    display: flex;
    justify-content: center;
    padding: 10px;
    color: #fffcf9;
    align-items: center;
    background-color: black;
    width: 100%;
    position: absolute;
    bottom: 0;
}

#footer p {
    margin-left: 30px;
    margin-top: 5px;
}


/* search div */

#movie-search {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.search-display {
    border-radius: 12px;
    box-shadow: 0 10px 10px -4px rgb(0 0 0 / 15%);
    background-color: transparent;
    color: #333;
    margin: 0.5em;
    position: relative;
    width: 200px;
}

.fab {
    color: var(--red);
}